.bg-purple {
    background-color: #1a1a2e;
}
.bg-purple-light{
    background-color: #313143;
}
.bg-blue{
    background-color: #2c487d;
}
main {
    max-width: 900px;
}

.btn-green {
    background: #28a745;
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 8px;
    transition: 0.3s;
}
.btn-green:hover {
    background: #218838;
}
